.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: rgba(0, 0, 0, 0.9215686275);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.show {
  opacity: 1 !important;
}

.section-name {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 10px auto;
  padding: 5px;
}
.section-name strong {
  color: rgb(230, 0, 0);
  margin: 10px;
  padding: 15px;
}
@media (max-width: 372px) {
  .section-name {
    display: flex;
    flex-direction: column;
  }
}

.empty-data {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  color: #ffcc00;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.empty-data strong a {
  font-size: 30px;
  margin: 0px 10px;
  font-weight: bold;
  color: rgb(230, 0, 0);
}
.empty-data strong:hover {
  animation: ltr 0.8s linear infinite;
  -webkit-animation: ltr 0.8s linear infinite;
}
@keyframes ltr {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

.appear {
  position: absolute !important;
  left: 56% !important;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 19;
  display: none;
}

.active {
  display: block !important;
}

.active-link {
  background-color: rgb(230, 0, 0);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.active-admin-side-bar {
  top: 0;
  transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
}

.p-relative {
  position: relative;
}

.send-data {
  background-color: #ffcc00;
  color: rgb(255, 255, 255);
  width: 50%;
  padding: 7px 10px;
  border: none;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: block;
  margin: 5px auto;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.send-data:hover {
  background-color: rgb(230, 0, 0);
  color: #ffcc00;
}

.default-input {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 17px;
  padding: 18px 30px;
  margin: 0px 20px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  border: none;
  outline: none;
}
.default-input:focus {
  box-shadow: 0px 0px 8px 2px rgb(230, 0, 0);
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 20px;
  flex-wrap: wrap;
}

.close-icon {
  padding: 8px;
  border: 1px solid rgb(255, 255, 255);
  align-self: end;
  border-radius: 50%;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  line-height: 0;
  cursor: pointer;
  margin: 10px;
  display: none;
}

.bars {
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 25px 0;
  font-size: 17px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  line-height: 0;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  display: none;
}

.active-side-bar {
  left: 0 !important;
  transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
}

.banned-click {
  pointer-events: none;
  cursor: not-allowed;
}

.dashboard-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.dashboard-container aside {
  width: 260px;
}
.dashboard-container .content {
  flex: 5;
  overflow-x: auto !important;
}

.chart-name {
  text-align: center;
  color: #ffcc00;
  font-size: 30px;
}
@media (max-width: 772px) {
  .chart-name {
    width: 700px;
    margin: 10px auto;
  }
}

.no-user {
  padding: 20px;
  text-align: center;
}
.no-user h2 {
  color: #ffcc00;
  font-size: 35px;
}
.no-user p {
  display: flex;
  justify-content: center;
}
.no-user p a {
  display: flex;
  align-items: center;
  gap: 14px;
  letter-spacing: 1px;
}
.no-user p a strong {
  color: rgb(230, 0, 0);
}
.no-user p a .icon {
  font-size: 30px;
  color: #ffcc00;
}

.btn-add {
  background-color: rgba(230, 0, 0, 0.25);
  text-align: center;
  display: block;
  padding: 7px 40px;
  margin: 50px auto;
  outline: none;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.btn-add:hover {
  background-color: #ffcc00;
  color: #ffcc00;
  scale: 1.1;
}
.btn-add a {
  color: rgb(255, 255, 255);
  font-size: 22px;
}
@media (max-width: 772px) {
  .btn-add {
    width: 650px;
  }
}