$mainColor: rgb(230 0 0 / 1);
$btnAndTextColor: #ffcc00;
$wordsColor: rgb(255 255 255 / 1);
$secondColor: rgb(255 204 0 / 1);
$bodyColor: #000000eb;
$articleColor: #ccc;
$secondBlackColor: #100c2a;
$tableMainColor: rgb(230 0 0 / 25%);
