.employees-management-container {
  padding: 60px 10px;
  margin: 70px 5px;
}
.employees-management-container table {
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.employees-management-container table thead tr th {
  color: rgb(255, 255, 255);
  font-size: 20px;
  letter-spacing: 1px;
}
.employees-management-container table tbody tr {
  background-color: rgba(230, 0, 0, 0.25);
}
.employees-management-container table tbody tr td img {
  height: 50px;
  padding: 10px;
}
.employees-management-container table tbody tr td.name {
  color: #ffcc00;
  font-size: 18px;
}
.employees-management-container table tbody tr td.job {
  color: rgb(255, 204, 0);
  font-size: 19px;
}
.employees-management-container table tbody tr td.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.employees-management-container table tbody tr td.actions button {
  margin: 8px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 6px;
  line-height: 0;
  font-size: 20px;
}
.employees-management-container table tbody tr td.actions button.update {
  background-color: #ffcc00;
}
.employees-management-container table tbody tr td.actions button.delete {
  background-color: rgb(230, 0, 0);
}