@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

.menu-management-container {
  @include center-section(60px,10px,70px,5px);
  table {
    @include centerTable($wordsColor);
    @include thead($wordsColor);
    tbody {
      tr {
        background-color: $tableMainColor;
        td {
          @include tableTd;
          img {
            height: 40px;
          }
          &.name {
            color: $btnAndTextColor;
          }
          &.description {
            color: $wordsColor;
          }
          &.price {
            color: $btnAndTextColor;
          }
          &.type {
            color: $btnAndTextColor;
          }
          @include tableActions($btnAndTextColor, $mainColor, $wordsColor);
        }
      }
    }
  }
  .btn-add-product {
    background-color: $btnAndTextColor;
    text-align: center;
    display: block;
    padding: 7px 40px;
    margin: 50px auto;
    outline: none;
    border: none;
    @include radios(25px);
    a {
      color: $wordsColor;
      font-size: 22px;
    }
    @media (max-width:772px) {
      width: 650px;
    }
  }
  .menu-charts {
    @media (max-width:772px) {
      width: 650px;
    }
  }
}