@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

.menu-management-container {
  @include center-section(60px, 10px, 70px, 5px);
  table {
    @include centerTable($wordsColor);
    @include thead($wordsColor);
    tbody {
      tr {
        background-color: $tableMainColor;
        td {
          @include tableTd;
          img {
            height: 40px;
          }
          &.name {
            color: $btnAndTextColor;
          }
          &.description {
            color: $wordsColor;
          }
          &.price {
            color: $btnAndTextColor;
          }
          &.type {
            color: $btnAndTextColor;
          }
          @include tableActions($btnAndTextColor, $mainColor, $wordsColor);
        }
      }
    }
  }

  .menu-charts {
    @media (max-width: 772px) {
      width: 650px;
    }
  }
}
